.title-modal-recipes .ant-modal-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-button-green-confirm)
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: var(--color-background);
  border-bottom: .5px solid var(--color-border-bottom);
}

.logo {
  min-width: 211px;
  height: 30px;
  top: 5px;
  display: flex;
}
.logo-header-market{
  width: 32px;
  height: 32px;
  background-image: url('../../../../assets/images/banner/logo.svg');
  background-size: cover;
}

.text-market-larsson{
  color: var(--color-button-green-confirm);
  margin-left: 4px;
  font-weight: 900;
}

.search-bar {
  width: 100%;
  min-width: 260px;
  padding-left: 2rem;
}

.search-bar-input {
  padding: 5px;
  width: 100%;
  border-radius: 1rem;
}

.box-recipe-button,
.login-button {
  margin-left: 20px;
}

.recipe-button, .recipe-button:active, .recipe-button:hover, .recipe-button:focus{
  border-color: var(--color-button-add-border);
  border-radius: 10px;
}

.recipe-button:focus, .recipe-button:hover{
  background-color: var(--color-button-add-border);
  color: var(--color-background);
}

.logo-search-and-category {
  display: flex;
  align-items: center;
}

.login-and-cart {
  display: flex;
  align-items: center;
}

.cart-button{
  background-color: transparent;
  border-color: transparent;
}

@media screen and (max-width: 768px) {
  .logo {
    min-width: 32px;
  }
  .text-market-larsson{
    display: none;
  }
  .logo-search-and-category {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .cdk-overlay-container .title-modal-recipes{
      min-width: 700px;
  }
}

@media screen and (min-width: 992px) {
  .cdk-overlay-container .title-modal-recipes{
      min-width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .cdk-overlay-container .title-modal-recipes{
    min-width: 1100px;
  }
}