<header class="header">
  <div class="logo-search-and-category">
    <div class="logo">
      <div class="logo-header-market"></div>
      <h2 class="text-market-larsson">MARKETLARSSON</h2>
    </div>
  <div class="box-recipe-button">
    <button class="recipe-button" (click)="openRecipe()" nz-button nzType="text">Recipe</button>
  </div>
  </div>
  <div class="login-and-cart">
    <div class="login-button">
      <app-login/>
    </div>
    <div class="box-cart-button">
      <app-drawer/>
    </div>
  </div>
</header>

<nz-modal [(nzVisible)]="isVisible"
  nzClassName="title-modal-recipes"  
  nzTitle="Suggested food recipes" 
  (nzOnCancel)="handleCancel()"
  [nzFooter]="isFooter"
>
  <ng-container *nzModalContent>
    <app-recipe/>
  </ng-container>
</nz-modal>