<section class="section">
  <h2 class="title-section">Products </h2>
  <div class="content-cards" nz-row>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
    <div class="box-card" nz-col nzXs="10" nzSm="8" nzMd="6" nzLg="4">
      <app-cards/>
    </div>
  </div>
</section>
