.section{
    margin: 2rem;
}

.content-cards{
    display: flex;
    justify-content: center;
}

.title-section{
    font-weight: 700;
}

.box-card{
    min-width: 240px;
}

.gutter-row{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}