.box-icon-back{
    margin-right: 14px;
}
.box-button-back{
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}
.banner {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: var(--color-background);
    border-bottom: .5px solid var(--color-border-bottom);
}
.logo-banner-and-category {
    display: flex;
    align-items: center;
}
.logo {
    width: 42px;
    height: 42px;
    background-image: url('../../../../assets/images/banner/logo.svg');
    background-size: cover;
}