<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item class="box-email-register">
    <nz-form-label class="label-register-all" nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-control nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="box-password-register">
    <nz-form-label class="label-register-all" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control nzErrorTip="Please input your password!">
      <nz-input-group [nzSuffix]="passwordSuffixTemplate">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-input-group>
      <ng-template #passwordSuffixTemplate>
        <i
          nz-icon
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"
          nzTheme="outline"
        ></i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="box-confirm-register">
    <nz-form-label class="label-register-all" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzErrorTip]="errorTpl">
      <nz-input-group [nzSuffix]="confirmPasswordSuffixTemplate">
        <input
          [type]="confirmPasswordVisible ? 'text' : 'password'"
          nz-input
          formControlName="checkPassword"
          id="checkPassword"
        />
      </nz-input-group>
      <ng-template #confirmPasswordSuffixTemplate>
        <i
          nz-icon
          [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="confirmPasswordVisible = !confirmPasswordVisible"
          nzTheme="outline"
        ></i>
      </ng-template>
      <ng-template #errorTpl let-control>
        @if (control.errors?.['required']) {
          Please confirm your password!
        }
        @if (control.errors?.['confirm']) {
          Two passwords that you enter is inconsistent!
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control class="box-register-button">
      <button nz-button class="register-form-button" [nzType]="'primary'">Register</button>
      Or
      <button (click)="showLoginForm()" class="button-login-now">
        <span class="text-login-now">Login now!</span>
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
