<button nz-button (click)="showModal()" nzType="text"><span>Login</span></button>

<nz-modal nzClassName="title-modal-login" 
          [(nzVisible)]="isVisible" 
          nzTitle="Welcome, please login or register." 
          (nzOnCancel)="handleCancel()" 
          [nzFooter]="modalFooter"
>
    <ng-container class="box-container-login" *nzModalContent>
        <div class="box-img-form-login">
            <div class="box-img-login">
                <img
                    alt="login"
                    src="../../../../assets/images/login/login.jpg"
                />
            </div>
            <div class="box-form-login">
                <div class="box-img-logo">
                  <img
                      alt="logo"
                      src="../../../../assets/images/login/logo.svg"
                  />
                </div>
                <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your username!">
                        <nz-input-group nzPrefixIcon="user">
                          <input type="text" nz-input formControlName="userName" placeholder="Username" />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your Password!">
                        <nz-input-group nzPrefixIcon="lock">
                          <input type="password" nz-input formControlName="password" placeholder="Password" />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    <div class="box-footer-login">
                      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
                      Or
                      <button class="button-register-now">
                        <span class="text-register-now">Register now!</span>
                      </button>
                    </div>
                </form>
                <!-- <app-register/> -->
            </div>
        </div>
    </ng-container>
</nz-modal>