::ng-deep .title-modal-login .ant-modal-title{
    font-size: 18px;
    font-weight: 700;
}
::ng-deep .cdk-drag .ant-modal .title-modal-login .cdk-drag-disabled{
    width: 36rem;
}
.box-img-form-login{
    display: flex;
}
.box-img-login img{
    width: 250px;
    height: 415px;
}
.box-logout-name{
    width: 100%;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}
.title-name-user{
    margin: 0;
}
.button-logout-logout{
    background-color: transparent;
    border-color:var(--color-button-red-cancel);
    color: var(--color-button-red-cancel);
    margin-left: 1rem;
}
.box-form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
}
.box-img-logo{
    padding-bottom: 1rem;
}
.box-img-logo img{
    width: 140px;
}
.login-form-button{
    background-color: var(--color-button-green-confirm);
    border-color: var(--color-button-green-confirm);
    margin-top: 1rem;
}
.text-register-now{
    color:var(--color-button-green-confirm);
}
.box-footer-login{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
}
.button-register-now{
    border: transparent;
    background-color: transparent;
}
.input-login-form{
    width: 100%;
}
@media screen and (max-width: 768px) {
    .box-form-login{
        width: 100%;
        padding: 0;
    }
    .box-img-login{
        display: none;
    }
    .box-input-username{
        margin-top: 1rem;
    }
}

.button-register-new, .button-login-new{
    border-color: var(--color-button-green-confirm);
    margin-right: 1rem;
}

.box-email-register, 
.box-password-register, 
.box-confirm-register,
.box-phone-register,
.user-name-register,
.box-full-name{
    display: flex;
    flex-direction: column;
}

.box-password-register,
.box-confirm-register,
.box-phone-register,
.user-name-register{
    margin-top: 2rem;
}

.box-email-register{
    margin-top: 0;
}

.box-email-register nz-form-label,
.box-password-register nz-form-label,
.box-confirm-register nz-form-label,
.box-phone-register nz-form-label,
.user-name-register nz-form-label,
.box-full-name nz-form-label
{
    text-align: justify;
}

.box-register-button{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
}
.register-form-button{
    background-color: var(--color-button-green-confirm);
    border-color: var(--color-button-green-confirm);
    width: 100%;
    margin-top: 4rem;
}
.register-area{
    margin: 0;
}
.label-register-all{
    margin-top: 1rem;
}
.text-login-now{
    color:var(--color-button-green-confirm);
}
.button-login-now{
    border: transparent;
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .box-email-register, 
    .box-password-register, 
    .box-confirm-register,
    .user-name-register,
    .box-full-name{
        margin:0;
    }
    .register-form-button{
        margin-top:1rem;
    }
}