::ng-deep .title-modal-login .ant-modal-title{
    font-size: 18px;
    font-weight: 700;
}
::ng-deep .cdk-drag .ant-modal .title-modal-login .cdk-drag-disabled{
    width: 36rem;
}
.box-img-form-login{
    display: flex;
}
.box-img-login img{
    width: 250px;
    height: 500px;
}
.box-form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
}
.box-img-logo{
    padding-bottom: 1rem;
}
.box-img-logo img{
    width: 140px;
}
.login-form-button{
    background-color: var(--color-button-green-confirm);
    border-color: var(--color-button-green-confirm);
}
.text-register-now{
    color:var(--color-button-green-confirm);
}
.box-footer-login{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
}
.button-register-now{
    border: transparent;
    background-color: transparent;
}
@media screen and (max-width: 768px) {
    .box-form-login{
        width: 100%;
        padding: 0;
    }
    .box-img-login{
        display: none;
    }
    .input-login-form{
        width: 100%;
    }
    .box-input-username{
        margin-top: 1rem;
    }
}
