@if(user$ | async; as user){
  @if(user?.email){
    <div class="box-logout-name">
      @if(user.fullName === 'No Name'){
        <h3 class="title-name-user">{{ user?.email ?? '' | auth  }}</h3>
      }@else {
        <h3 class="title-name-user">{{ user.fullName }}</h3>
      }
      <button class="button-logout-logout" nz-button [nzType]="'primary'" (click)="logoutUser()">Logout</button>
    </div>
  }@else if(showLoginForm$ | async){
    <button nz-button (click)="showModal()" class="button-login-new" nzType="text"><span>Login</span></button>
  }@else {
    <button nz-button (click)="showModal()" class="button-register-new" nzType="text"><span>Register</span></button>
  }
}
<nz-modal nzClassName="title-modal-login" 
          [(nzVisible)]="isVisible" 
          nzTitle="Welcome, please login or register." 
          (nzOnCancel)="handleCancel()" 
          [nzFooter]="modalFooter"
>
    <ng-container class="box-container-login" *nzModalContent>
        <div class="box-img-form-login">
            <div class="box-img-login">
                <img
                    alt="login"
                    src="../../../../assets/images/login/login.jpg"
                />
            </div>
            <div class="box-form-login">
                <div class="box-img-logo">
                  <img
                      alt="logo"
                      src="../../../../assets/images/login/logo.svg"
                  />
                </div>
                @if(showLoginForm$ | async){
                  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <nz-form-item class="box-email-register">
                      <nz-form-label class="label-register-all" nzFor="email" nzRequired>E-mail</nz-form-label>
                      <nz-form-control nzErrorTip="The input is not valid E-mail!">
                        <input nz-input formControlName="email" id="email" />
                      </nz-form-control>
                    </nz-form-item>
                  
                    <nz-form-item class="box-password-register">
                      <nz-form-label class="label-register-all" nzFor="password" nzRequired>Password</nz-form-label>
                      <nz-form-control nzErrorTip="Please input your password!">
                        <nz-input-group [nzSuffix]="suffixTemplate">
                          <input
                          nz-input
                            [type]="passwordVisible ? 'text' : 'password'"
                            
                            formControlName="password"
                          />
                        </nz-input-group>
                        <ng-template #suffixTemplate>
                          <i
                            nz-icon
                            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible"
                            nzTheme="outline"
                          ></i>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                  
                    <div class="box-footer-login">
                      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
                      Or
                      <button (click)="showRegisterComponent()" class="button-register-now">
                        <span class="text-register-now">Register now!</span>
                      </button>
                    </div>
                  </form>
                }@else {
                  <app-register/>
                }
            </div>
        </div>
    </ng-container>
</nz-modal>