.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: var(--color-background);
  border-bottom: .5px solid var(--color-border-bottom);
}

.logo {
  min-width: 211px;
  height: 30px;
  top: 5px;
  background-image: url('../../../assets/images/mercadona.svg');
}

.search-bar {
  width: 100%;
  min-width: 260px;
  padding-left: 2rem;
}

.search-bar-input {
  padding: 5px;
  width: 100%;
  border-radius: 1rem;
}

.category-button,
.login-button {
  margin-left: 20px;
}

.logo-search-and-category {
  display: flex;
  align-items: center;
}

.login-and-cart {
  display: flex;
  align-items: center;
}

.cart-button{
  background-color: transparent;
  border-color: transparent;
}

@media screen and (max-width: 768px) {
  .category-button,
  .login-button,
  .box-cart-button,
  .login-and-cart {
    display: none;
  }
  .logo-search-and-category {
    width: 100%;
  }
}