<nz-layout class="box-layout-content">
  <nz-header class="box-header-layout">
    <div>
      <div class="logo">
        <div class="logo-layout-market"></div>
        <h2 class="text-layout-market">MARKETLARSSON</h2>
      </div>
      <ul nz-menu nzTheme="light" nzMode="horizontal">
        <li nz-menu-item routerLink="/admin/products" routerLinkActive="active">Products</li>
        <li nz-menu-item routerLink="/admin/orders" routerLinkActive="active">Orders</li>
      </ul>
    </div>
    <div class="box-button-logout">
      <button class="button-logout-layout" nz-button [nzType]="'primary'" (click)="goToProducts()">Logout</button>
    </div>
  </nz-header>
  <nz-content class="box-content-layout">
    <nz-breadcrumb>
      @if(breadcrumbs.length === 0){
        <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
        <nz-breadcrumb-item>Products</nz-breadcrumb-item>
      }@else{
        <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
        <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs">
          <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
        </nz-breadcrumb-item>
      }
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
