<nz-layout>
    <nz-header class="box-header-layout">
      <div class="logo"></div>
      <ul nz-menu nzTheme="light" nzMode="horizontal">
        <li nz-menu-item>Products</li>
        <li nz-menu-item>Orders</li>
        <li nz-menu-item>Logout</li>
      </ul>
    </nz-header>
    <nz-content class="box-content-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
        <nz-breadcrumb-item>Product</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">Content</div>
    </nz-content>
</nz-layout>