.box-ticket-order{
   background-color: var(--color-background-secondary);
   height: 100vh;
   padding: 10px 30px;
   min-width: 300px;
}
.box-descriptions-ticket{
    display: flex;
    justify-content: space-between;
}
.title-ticket-order{
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.23;
}
.box-summary-ticket{
    border-radius: 8px;
    transition: box-shadow .1s linear;
    padding: 24px;
    background-color: var(--color-background);
    border: 1px solid var(--color-border-bottom);
    padding: 24px;
}
.box-ticket-delivery, .box-ticket-summary{
    width: 100%;
}
.only-total-ticket{
    font-weight: 700;
    line-height: 1.23;
    font-size: 16px;
    margin-top: 1rem;
}
.ticket-form-button{
    width: 100%;
    background-color: var(--color-button-green-confirm);
    border-color: var(--color-button-green-confirm);
}
.box-button-ticket{
    margin-top: 2rem;
}
.box-terms-ticket{
    margin-top: 1rem;
}
.box-form-ticket{
    margin-top: 2rem;
}
.box-buttons-ticket{
    display: flex;
    justify-content: space-between;
}
.button-ticket-confirm{
    width: 100%;
    background-color: var(--color-button-green-confirm);
    color: var(--color-background);
}
.button-ticket-reset{
    width: 100%;
    border-color: var(--color-button-red-cancel);
    background-color: var(--color-button-red-cancel);
    color: var(--color-background);
    margin-right: 1rem;
}

.ant-select.ant-select-in-form-item.phone-select {
    width: 70px;
}

@media screen and (min-width: 768px) {
    .only-style-delivery{
        margin-right: 1rem;
    }
}
@media screen and (max-width: 768px) {
    .form-buttons-ticket{
        margin: 0;
    }
    .form-items-ticket{
        display: flex;
        justify-content: center;
    }
}