:root {
    --color-background: #fff;
    --color-background-secondary: #e6e5e34d;
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-border-bottom: #e6e6e6;
    --color-text-descriptions: #00000073;
    --color-button-add-border: #fcb831;
    --color-button-add-text: #714000;
    --color-button-green-confirm: #00ab61;
    --color-button-red-cancel: #ff4d4f;
}