::ng-deep .title-modal-cart .ant-drawer-title {
    font-size: 18px;
    font-weight: 700;
}
::ng-deep .ant-drawer-body{
    padding: 0;
}
.box-cart-empty{
    display: flex;
}
.cart-button-empty{
    padding: 0;
}
.box-img-text{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-cart-empty{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.text-cart-empty{
    display: flex;
    justify-content: center;
    width: 215px;
    text-align: center;
    color: var(--color-secondary);
}
.img-cart-empty img{
    width: 150px;
}
.cart-button-active{
    background-color: var(--color-button-add-border);
    border-color: var(--color-button-add-border);
    border-radius: 8px;
    display: flex;
    height: 35px;
    align-items: center;
}
.amount-product-cart{
    background-color: var(--color-button-add-text);
    border-radius: 16px;
    width: 23px;
    color: var(--color-background);
    margin: 0 10px;
    font-weight: 500;
}
.price-product-cart{
    color: var(--color-button-add-text);
    font-weight: 500;
}
.box-total-approximate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-total-approximate{
    margin-top: 4px;
}
.price-total-approximate{
    font-weight: 800;
}
.button-footer-cart{
    background-color: var(--color-button-green-confirm);
    border-color: var(--color-button-green-confirm);
    width: 100%;
}