@if(productsInCart$ | async; as product){
  @for (item of product; track item?.name) {
    <div class="box-img-description">
      <img
        class="box-img-cart"
        alt="product image"
        [src]="'../../../../assets/images/products' + item.image"
      />
      <div class="box-description-buttons">
        <div>
          <p>{{ item.name }}</p>
          <div class="price-cart-title">
            <p class="box-cart-price">{{ item.price }}</p>
            <p>/usd.</p>
          </div>
        </div>
        <div class="box-title-buttons">
          <div>
            <p class="title-buttons-car">In Cart</p>
            <p class="box-cart-ud">{{ getProductQuantity(item.id) }} ud.</p>
          </div>
          <div class="button-price-cart">
            <button class="delete-cart-button" (click)="removeFromCart(item.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
            @if(item.quantity > 1){
              <button class="minus-cart-button add-cart-button" (click)="decreaseQuantity(item.id)">
                <fa-icon [icon]="faMinus"></fa-icon>
              </button>
            }
            <button class="add-cart-button" (click)="increaseQuantity(item.id)">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  }
}


