<div class="box-img-description">
    <img
        class="box-img-cart"
        alt="logo"
        src="../../../../assets/images/cart/product.jpg"
    />
    <div class="box-description-buttons">
        <div>
            <p>1/4 Watermelon low in seeds</p>
            <div class="price-cart-title">
                <p class="box-cart-price">2,79 $</p>
                <p>/ud.</p>
            </div>
        </div>
        <div>
            <p class="title-buttons-car">In Car</p>
            <p class="box-cart-ud">1 ud.</p>
            <div class="button-price-cart">
                <button class="delete-cart-button">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
                <!-- <button class="minus-cart-button add-cart-button">
                    <fa-icon [icon]="faMinus"></fa-icon>
                </button> -->
                <button class="add-cart-button">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
